<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for = "Traning\TestOM\Model\ManagerInterface"  type =  "Traning2\TestOM2\Model\ManagerCustom"
    />
    <type name="Traning3\TestOM3\Model\Test">
        <arguments>
            <argument name="name" xsi:type="string">Custom String3</argument>
            <argument name="number" xsi:type="number">422</argument>
            <argument name="arrayList" xsi:type="array">
                <item name="item_1" xsi:type="string">array text item2</item>
                <item name="item_2" xsi:type="number">61</item>
            </argument>
        </arguments>
    </type>
</config>