<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ctrl2point4" frontName="ctrl2-4">
            <module name="Traning2point4_Test" />
        </route>
    </router>
</config>