<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ctrl310" frontName="ctrl310">
            <module name="Traning3point10_Test" />
        </route>
    </router>
</config>