<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ctrl1" frontName="ctrl1">
            <module name="Traning2_TestOM2" />
        </route>
    </router>
</config>
